.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../../../../assets/img/header-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  animation: hue-rotate 10s infinite linear;
}

.heading-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: column;
  height: 100%;
  flex-wrap: wrap;
  color: rgba(255,255,255,.8);
  text-transform: uppercase;
}

.heading-primary-main {
  letter-spacing: 1rem;
}

.heading-primary-sub {
  font-size: 2rem;
  letter-spacing: 1rem;
}