.nav-list {
  list-style: none;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: all .3s cubic-bezier(1, 0, 0, 1);
  background-color: #0b1011;
  position: fixed;
  z-index: 99;
}

.nav-show {
  transform: translateY(0);
}

.nav-hide {
  transform: translateY(-100vh);
}

.nav-show .nav-item {
  animation: moveInTop .8s .4s ease-out;
  animation-fill-mode: backwards;
}

.nav-item {
  cursor: pointer;
  border: 1.6px solid transparent;
  margin: 1rem;
  padding: 1px;
  transition: all 1.5s;
}

.nav-item:hover {
  border: 1.6px solid rgba(255,255,255,.2);
}

.nav-item:hover .nav-link {
  transform: translate(.5rem, -.5rem);
  border: 1.5px solid rgba(255,255,255,.7);
  color: rgba(255,255,255,.8);
}

.nav-link {
  border: 1.5px solid transparent;
  margin-bottom: 0;
  color: #66615b;
  margin: 5px;
  margin-top: -8px;
  margin-right: -8px;
  padding: 5px 20px;
  font-size: 3rem;
  font-weight: 500;
  transition: all 1s ease-out;
}

@keyframes moveInTop {
  0% { opacity: 0; transform: translateY(1.5rem); }
  100% { opacity: 1; transform: translateY(0); }
}
