.about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__background {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right, rgba($grey-lighten-2, .7), rgba($grey-lighten-2, .7)), url(./assets/img/about-bg.jpg);
    animation: hue-rotate 10s infinite linear;
  }

  &__heading {
    font-size: 3.5rem;
  }

  &__content {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 4rem 0;

    @media (max-width: 600px) {
      width: 90%;
    }
  }

  &__paragraphs {
    margin: 2rem auto;
    text-align: left;
  }

  &__paragraph {
    font-size: 1.7rem;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
