.about {
  &__background {
    min-height: 40vh;
    background-image: linear-gradient( to right rgba($grey-lighten-3, .7), rgba($grey-lighten-3, .7)), url(./assets/img/about-bg.jpg);
    background-size: cover;
    background-position: center;
    animation: hue-rotate 10s infinite linear;
  }

  &__name {
    font-size: 2rem;
  }

  &__container {
    min-height: 60vh;
    position: absolute;
    z-index: 1;
    background-color: $grey-lighten-2;
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
  }

  &__heading {
    font-size: 19px;
    margin-top: 10px;
    font-weight: 500;
    margin-bottom: 10px;
    min-height: 32px;
    letter-spacing: .4rem;
  }

  &__paragraph {
    max-width: 450px;
  }

  &__accounts {
    margin-top: 1rem;
    display: flex;
  }

  [class^='svg__about-'] {
    margin: 3px;
    height: 2rem;
  }

  [class^='svg__about-']:hover {
    transform: scale(1.3);
  }
}
