.project{
  &__container {
    padding: 80px 0;
    min-height: calc(100vh - 160px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 400px));
    grid-row-gap: 4.2rem;
    justify-content: center;
    align-content: center;
    justify-items: center;
  }

  &__heading {
    font-size: 4rem;
    color: $grey-lighten-5;
  }

  &__description {
    font-size: 2rem;
    font-weight: 500;
    color: $grey-lighten-1;
    padding: 1.5rem;
    text-align: justify;
  }
}
