.my-project {
  min-height: 100vh;
  max-width: 1280px;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.my-projects-heading {
  padding-top: 2rem;
  padding-left: 1rem;
}

.project-container {
  margin: 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 30rem;
}

.project {
  width: 45%;
  background-color: lightcoral;
}

.project-description {
  width: 45%;
  background-color: lightseagreen;
}
