.avatar {
  max-width: 180px;
  display: inline-block;
  width: 150px;
  margin-bottom: 2rem;

  &__img {
    margin-bottom: 10px;
    padding: 0px;
    border-radius: 50%;
    max-width: 100%;
    border-style: none;
    box-shadow: 0 4px 18px rgba($color-black, .7);
  }
}
