.card {
  perspective: 150rem;
  width: 30rem;
  height: 40rem;
  position: relative;

  &__link, &__project {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__side {
    border-radius: 3px;
    transition: all 1s ease;
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    padding: 2rem 0;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 1.5rem 3.5rem rgba($color-black, .5);
  }
  
  &:hover &__front {
    transform: rotateY(-180deg);
  }

  &:hover &__back {
    transform: rotateY(0);
  }

  &__front {
    background-color: $grey-darken-3;
  }

  &__back {
    transform: rotateY(180deg);
    background-color: $grey-darken-3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    & > * {
      height: 5rem;
      width: 5rem;
      border: 2px solid $grey-darken-3;
      border-radius: 50%;
      margin: 1rem;
      transition: all .5s;
      cursor: pointer;
    }
    
    & > *:hover {
      // background-color: $grey-lighten-1;
      transform: scale(1.1);
      box-shadow: 0 1rem 2rem rgba($color-black, .4);
    }

    & > *:hover [class^="svg__"] {
      fill: $grey-darken-4;
    }

    & > *:active {
      transform: scale(1);
    }

    &--1 {
      background-image:linear-gradient(to right,
        rgba($grey-lighten-1, .6), rgba($grey-lighten-1, .6)),
        url(./assets/img/card-1-bg.png);
      background-size: cover;
      background-position: center;
    }

    &--2 {
      background-image:linear-gradient(to right,
        rgba($grey-lighten-1, .6), rgba($grey-lighten-1, .6)),
        url(./assets/img/card-2-bg.png);
      background-size: cover;
      background-position: center;
    }
  }
}
