.nav {
  &__list {
    list-style: none;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: all .3s cubic-bezier(1, 0, 0, 1);
    background-color: $grey-darken-4;
    position: fixed;
    z-index: 99;
  }

  &--show {
    transform: translateY(0);
  }

  &--hide {
    transform: translateY(-100vh);
  }

  &--show &__item {
    animation: moveInTop .8s .4s ease-out;
    animation-fill-mode: backwards;
  }

  &__item {
    cursor: pointer;
    border: 1.6px solid transparent;
    margin: 1rem;
    padding: 1px;
    transition: all 1.5s;

    &:hover {
      border: 1.6px solid rgba($color-white, .2);
    }
  }

  &__item:hover &__link {
    transform: translate(.5rem, -.5rem);
    border: 1.5px solid rgba($color-white, .7);
    box-shadow: inset 0 0 20px rgba($color-white, 0.3),
    0 0 20px rgba($color-white, 0.2);
    color: rgba($color-white, .8);
  }

  &__link {
    border: 1.5px solid transparent;
    margin-bottom: 0;
    color: $grey-darken-1;
    margin: 5px;
    margin-top: -8px;
    margin-right: -8px;
    padding: 0;
    font-size: 3rem;
    font-weight: 500;
    transition: all 1s ease-out;
  }
  
  &__Link {
    display: block;
    height: 100%;
    padding: 5px 20px;
  }

  &__toggler {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid $grey-lighten-1;
    box-shadow: 0 4px 10px rgba($color-black, .5);
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &-icon {
      position: relative;

      &,
      &::before,
      &::after {
        display: inline-block;
        width: 3rem;
        height: 2px;
        background-color: rgba($grey-lighten-4, 0.7);
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s;
      }

      &::before {
        top: -.8rem;
      }

      &::after {
        top: .8rem;
      }
    }

    &:hover &-icon::after {
      top: 1rem;
    }

    &:hover &-icon::before {
      top: -1rem;
    }

    &-icon--active:hover &-icon::after {
      top: 0;
    }

    &-icon--active:hover &-icon::before {
      top: 0;
    }

    &-icon--active &-icon {
      background-color: transparent;
    }

    &-icon--active &-icon::before {
      top: 0;
      transform: rotate(135deg);
    }

    &-icon--active &-icon::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}
